<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokemonGo_Map_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PokemonGo_Map_Launcher.Properties.Settings>
            <setting name="CaptchaKEY" serializeAs="String">
                <value />
            </setting>
            <setting name="StartLOC" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="MapPort" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="NotificationsPort" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="bulbasaur" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ivysaur" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Venusaur" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Charmander" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Charmeleon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Charizard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Squirtle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Wartortle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Blastoise" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Caterpie" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Metapod" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Butterfree" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Weedle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Kakuna" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Beedrill" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pidgey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pidgeotto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pidgeot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rattata" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Raticate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Spearow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Fearow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ekans" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Arbok" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pikachu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Raichu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sandshrew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sandslash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NidoranF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Nidorina" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Nidoqueen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NidoranM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Nidorino" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Nidoking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Clefairy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Clefable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vulpix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ninetales" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Jigglypuff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Wigglytuff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Zubat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Golbat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Oddish" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Gloom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vileplume" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Paras" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Parasect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Venonat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Venomoth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Diglett" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Dugtrio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Meowth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Persian" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Psyduck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Golduck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Mankey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Primeape" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Growlithe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Arcanine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Poliwag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Poliwhirl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Poliwrath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Abra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Kadabra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Alakazam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Machop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Machoke" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Machamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Bellsprout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Weepinbell" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Victreebel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tentacool" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tentacruel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Geodude" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Graveler" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Golem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ponyta" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rapidash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Slowpoke" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Slowbro" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Magnemite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Magneton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Farfetch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Doduo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Dodrio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Seel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Dewgong" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Grimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Muk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Shellder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cloyster" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Gastly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Haunter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Gengar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Onix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Drowzee" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hypno" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Krabby" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Kingler" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Voltorb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Electrode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Exeggcute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Exeggutor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cubone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Marowak" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hitmonlee" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hitmonchan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Lickitung" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Koffing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Weezing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rhyhorn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rhydon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Chansey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tangela" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Kangaskhan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Horsea" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Seadra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Goldeen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Seaking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Staryu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Starmie" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MrMime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scyther" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Jynx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Electabuzz" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Magmar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pinsir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tauros" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Magikarp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Gyarados" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Lapras" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ditto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Eevee" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vaporeon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Jolteon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Flareon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Porygon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Omanyte" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Omastar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Kabuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Kabutops" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Aerodactyl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Snorlax" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Articuno" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Zapdos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Moltres" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Dratini" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Dragonair" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Dragonite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Mewtwo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Mew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enable_push" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enable_twitter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enable_slack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pushapi" serializeAs="String">
                <value>"YOUR_PUSH_API_KEY"</value>
            </setting>
            <setting name="slackapi" serializeAs="String">
                <value>"YOUR_API_KEY"</value>
            </setting>
            <setting name="access_token" serializeAs="String">
                <value>"YOUR_ACCESS_TOKEN"</value>
            </setting>
            <setting name="access_secret" serializeAs="String">
                <value>"YOUR_ACCESS_SECRET"</value>
            </setting>
            <setting name="consumer_key" serializeAs="String">
                <value>"YOUR_CONSUMER_KEY"</value>
            </setting>
            <setting name="consumer_secret" serializeAs="String">
                <value>"YOUR_CONSUMER_SECRET"</value>
            </setting>
        </PokemonGo_Map_Launcher.Properties.Settings>
    </userSettings>
</configuration>